$fondo:#101010;
$celeste:#2b76e6;
$gris:#9c9c9c;
$fondo_foot:rgb(34, 34, 34);
$fondo_form:#6e6e6e;
$fondo_bot:black;
$color_bot:rgb(151, 151, 151);
$hover_bot:#2A446A;
$blanco:white;
$negro:black;
$gris_oscuro: rgba(0, 0, 0, 0.1);